<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Evaluate a News Article with Natural Language Processing</title>
</head>

<body>
    <main>
        <section>
            <form onsubmit="return client.handleSubmit(event)">
                <input id="url" type="text" name="url" placeholder="URL">
                <input type="submit" name="submit" value="Submit">
            </form>
            <section>

                <section>
                    <h4>Results</h4>
                    <div class="results">
                        <div><span class="key">polarity: </span>
                            <span class="value" id="polarity"></span>
                        </div>
                        <div><span class="key">subjectivity: </span>
                            <span class="value" id="subjectivity"></span>
                        </div>
                        <div><span class="key">polarity confidence: </span>
                            <span class="value" id="polarityConfidence"></span>
                        </div>
                        <div><span class="key">subjectivity confidence: </span>
                            <span class="value" id="subjectivityConfidence"></span>
                        </div>
                    </div>
                </section>
    </main>

    <footer>
        <p>Evaluate a news article with Natural Language Processing
        </p>
    </footer>

    <script>
        // Check that service workers are supported
        if ('serviceWorker' in navigator) {
            // Use the window load event to keep the page load performant
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('./service-worker.js');
            });
        }
    </script>

</body>

</html>